{% extends "index.html" %}

{% block extra_js %}
<script src="/static/js/jquery-1.4.2.min.js"></script>
<script src="/static/js/jquery-ui-1.7.2.custom.min.js"></script>

<script type="text/javascript">
$.datepicker.setDefaults({
    dateFormat: 'yy-mm-dd',
    duration: 'fast',
    showAnim: 'fadeIn'
});
$(function() {
    $("#id_birthdate").datepicker();
});
</script>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="/static/css/smoothness/jquery-ui-1.7.2.custom.css" media="screen" />
{% endblock %}

{% block content %}
<form method="post" action="{% url userform %}">
<table>
{{ form }}
</table>
<input type="submit" value="Save" />
</form>
{% endblock %}