<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>42 Coffee Cups &mdash; Test Project</title>
<link rel="stylesheet" type="text/css" href="/static/css/style.css" media="screen" />
<!--[if IE]><link rel="stylesheet" type="text/css" href="/static/css/ie.css" /><![endif]-->
{% block extra_js %}{% endblock %}
{% block extra_css %}{% endblock %}
</head>

<body>
	<div id="wrapper">
		<div id="header">
			<span id="nav"><a href="/" title="Homepage">Homepage</a>
			<!-- &middot; <a href="#" title="Nav Item Title">Other Pages Go Here</a> -->
			<span>
				{% if user.is_authenticated %}
				Logged in as <b>{{ user.username }}</b> | <a href="{% url logout %}">Logout</a>
				{% else %}
				<a href="{% url login %}">Login</a>
				{% endif %}
			</span>
			</span>
		</div>
		<div class="generic nineforty">
			<h1>42 Coffee Cups &mdash; Test Project.</h1>
		</div>
		<div class="generic nineforty">
            {% block content %}{% endblock %}
        </div>
		<div class="generic nineforty">
			<p id="footer-nav"><a href="http://csswizardry.com/" title="CSS Wizardry &mdash; Home of Harry Roberts">&copy; CSS by Harry Roberts</a></p>
		</div>
	</div>
</body>
</html>